.page-body {
	background-image: linear-gradient(
		180deg,
		rgba(247, 247, 247, 1) 23.8%,
		rgba(252, 221, 221, 1) 92%
	);
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

.cards {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-body {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 400px;
	width: 300px;
	object-fit: cover;
}

.card-body-image {
	object-fit: cover;
}

.card-button {
	background-color: darksalmon;
	border: 0;
	border-radius: 4px;
	color: #fff;
	font-size: 18px;
	padding: 10px;
	margin: 10px;
	width: 300px;
}

.card-button:active {
	transform: scale(0.98);
}
